html, body, div#__nuxt, div#__layout {
  height: 100%;
}

#app-layout {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  #app-content {
    flex-grow: 1;
  }
}
// transition
.page-enter-active,
.page-leave-active {
  transition: opacity 0.3s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.page {
  height:100%;
}

.background{
  background-image: linear-gradient(to right bottom, #e0f4e9, #def1e6, #ddede3, #dbeae1, #d9e7de, #c9e4d2, #bae0c5, #abdcb7, #8bd69a, #6bcf7c, #47c75a, #00be32);
}

.background-2{
  background-color: #edebebeb;
  height: 100%;
}

.main-background{
  background-color: #f8f5f5;
  // height: 100%;
}

.form-background{
  background-image: linear-gradient(to bottom, #d6d6d6 97%,#bababacb 98%, #7c7c7ce2 99%);
}

.landing-banner2{
  background-image: linear-gradient(to bottom, #ababab 2%, #e7e7e7 11%, #ffffff 18%);
  border-radius: 0;
  height: 220px;
}

.landing-banner3{
  background-image: linear-gradient(to bottom, #a4a1a1 2%, #e6e6e6eb 7%, #edeaea 18%);
  border-radius: 0;
  border: 1px;
  border-color: #edeaea;
  box-shadow: 0 0 6px 5px rgba(165, 165, 165, 0.467);
}

.landing-text{
  color: #0b6819 !important;
}

.banner-title{
  color: #0b6819 !important;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 1px 1px 2px #0000004c;
}

.banner-subtitle{
  color: #0b6819 !important;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 1px 1px 2px #0000004c;
  padding-top: 15px;
}

.btn-5 {
  outline-color: rgba(20, 108, 23, 0.5);
  border: 1px;
  text-shadow: 1px 1px 1px #0c3e0642;
  transition: all 500ms cubic-bezier(0.19, 1.5, 2.32, 1.25);
}

.btn-5:hover {
  // border: 1px solid;
  // border-radius: 12%;
  // box-shadow: inset 0 0 3px 3px rgba(4, 93, 5, 0.313), 0 1px 4px 4px rgba(0, 123, 4, 0.467);
  // outline-offset: 30px;
  text-shadow: 0 0 3px #15ff00cd;
}


.btn-4 {
  box-shadow: inset 0 0 0 0 rgba(6, 47, 11, 0.559), 0 0 1px 1px rgba(1, 121, 37, 0.331);
  transition: all 500ms cubic-bezier(0.19, 1, 0.2, 1.25);
}

.btn-4:hover {
  border: 1px solid;
  border-color: #607b07;
  box-shadow: inset 0 0 7px 4px rgba(42, 24, 5, 0), 0 0 3px 4px rgba(162, 179, 143, 0.769);
  outline-offset: 15px;
  text-shadow: 2px 4px 3px #034c578b;
}

.btn-3 {
  background-color: rgba(244, 10, 10, 0.848);
  box-shadow: inset 0 0 0 0 rgba(69, 6, 6, 0.575), 0 1px 1px 1px rgba(121, 1, 1, 0.331);
  outline-color: rgba(94, 7, 7, 0.38);
  border: 1px;
  transition: all 500ms cubic-bezier(0.19, 1, 0.2, 1.25);
}

.btn-2 {
  background-color: rgba(65, 10, 244, 0.848);
  box-shadow: inset 0 0 0 0 rgba(69, 6, 6, 0.575), 0 1px 1px 1px rgba(1, 23, 121, 0.331);
  outline-color: rgba(10, 14, 126, 0.38);
  border: 1px;
  transition: all 500ms cubic-bezier(0.19, 1, 0.2, 1.25);
}

.btn-3:hover {
  // border: 1px solid;
  // border-radius: 12%;
  background-color: #d70808;
  box-shadow: inset 0 0 7px 4px rgba(73, 1, 1, 0.2), 0 2px 6px 4px rgba(94, 18, 6, 0.331);
  outline-offset: 15px;
  text-shadow: 2px 5px 12px #034c578b;
}

.btn-2:hover {
  // border: 1px solid;
  // border-radius: 12%;
  background-color: #04047d;
  box-shadow: inset 0 0 7px 4px rgba(9, 1, 73, 0.2), 0 2px 6px 4px rgba(16, 6, 94, 0.331);
  outline-offset: 15px;
  text-shadow: 2px 5px 12px #034c578b;
}

.a:hover {
  text-decoration: underline;
}

.text-lightgreen{
  color: #24ce3d;
}

.text-darkgreen{
  color: #15571f;
}


.text-lightblue{
  color: #5473ea;
}

.shadow-card{
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

.white{
  background-color: #ffffff;
}
