@import "~bootswatch/dist/minty/variables";

$primary: #368cc5;
$secondary: #eb9744;
$success: #19a02d;
$danger: #f60000;

$navbar-dark-color: rgba($white, .8);
$navbar-dark-hover-color: rgba($white, .9);
$navbar-dark-disabled-color: rgba($white, .5);

@import '~bootstrap/scss/bootstrap.scss';
@import "~bootswatch/dist/minty/bootswatch";
@import '~bootstrap-vue/src/icons.scss';

@import '~bootstrap-vue/src/index.scss';

@import "./custom";
