@import "~bootswatch/dist/minty/variables";

$primary: #2A43A1;
$secondary: #daa511;
$success: #19a02d;
$danger: #cc0025;
$warning: #cbc508;

// Clases para el color de estado
.estado-secondary {
  color: $secondary; // Ajusta el color del texto según tu diseño
}

.estado-primary {
  color: $primary; // Ajusta el color del texto según tu diseño
}

.estado-warning {
  color: $warning; // Ajusta el color del texto según tu diseño
}

.estado-danger {
  color: $danger; // Ajusta el color del texto según tu diseño
}

.estado-success {
  color: $success; // Ajusta el color del texto según tu diseño
}

$navbar-dark-color: rgba($white, .8);
$navbar-dark-hover-color: rgba($white, .9);
$navbar-dark-disabled-color: rgba($white, .5);

@import '~bootstrap/scss/bootstrap.scss';
@import "~bootswatch/dist/minty/bootswatch";
@import '~bootstrap-vue/src/icons.scss';

@import '~bootstrap-vue/src/index.scss';

@import "./custom";
